body {
  background-image: url('../img/twinkle_twinkle.png');
  color: white;
}

.primary {
  /*border: 1px solid blue;*/
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
}

.health {
  /*border: 1px solid red;*/
  width: 800px;
  height: 3px;
}

#health-bar {
  background-color: darkgreen;
  height: 3px;
  width: 800px;
}

#game {
  /*border: 1px solid red;*/
  display: inline-block;
  vertical-align: top;
  width: 800px;
  height: 625px;
  box-shadow: 0 0 50px 1px rgba(255,153,0, 0);
}

.right {
  /*border: 1px solid red;*/
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 625px;
  color: white;
}

.score-tag {
  /*border: 1px solid red;*/
  display: inline-block;
  vertical-align: top;
  width: 100px;
  margin-top: 13px;
  margin-left: -10px;
  /*height: 625px;*/
  color: white;
}

#score-tag-elem {
  min-width: 100px;
}

.bar {
  position: relative;
  margin: 15px 0 0 10px;
  background: -webkit-linear-gradient( rgb(210,182,241), rgb(34,28,69));
  box-shadow: inset 0 1px 4px 2px rgba(0,0,0,0.50);
  border-radius: 20px;
  border: 2px solid rgba(255,255,255,0.25);
  height: 575px;
  width: 30px;
}

.circle {
  position: absolute;
  top: -10px;
  left: -8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /*background-color: rgba(128,128,128, 1);*/
  background: -webkit-linear-gradient( rgb(100, 86, 134), rgb(204, 177, 236));
  /*-webkit-border-image: -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 0 100%;*/
  border: 4px solid rgb(165, 137, 204);
}




/*Below can go in a seperate file. It is merely for the css3-only-tag effect*/

.tags{
  margin:0;
  padding:0;
  /*position:absolute;*/
  right:24px;
  bottom:-12px;
  list-style:none;
  }

  .tags li, .tags a{
  float:left;
  height:24px;
  line-height:24px;
  position:relative;
  font-size:11px;
  }

  .tags a{
  margin-left:20px;
  padding:0 10px 0 12px;
  background: #6C5D8E;
  color:#fff;
  text-decoration:none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px;
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;
  border-top-right-radius:4px;
  }

  .tags a:before{
  content:"";
  float:left;
  position:absolute;
  top:0;
  left:-12px;
  width:0;
  height:0;
  border-color:transparent #6C5D8E transparent transparent;
  border-style:solid;
  border-width:12px 12px 12px 0;
  }


